html,
body {
  background-color: rgb(43, 43, 43);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ui.container {
  width: 20%;
  text-align: center;
}

.results {
  margin-top: 2%;
  margin-bottom: 0;
  max-width: 100%;
  background-color: #484848;
}


.ui.button {
  position: relative;
  left: 25%;
  right: auto;

}

.searchBar {
  min-width: max-content;
  display: inline-flex;
  margin-top: 2%;
  padding-left: 10px;
}

.search {
  width: 400px;
}

.aSettings {
  font-size: 15px;
}

.result {
  width: 400px;
  height: auto;
  margin: 20px 15px 50px 15px;
}

.dropDown {
  transition: transform 2s ease;
  transform: rotate(0deg);
}


.dropUp {
  transition: transform 2s ease;
  transform: rotate(180deg);
}

.secondaryColor {
  color: white;
}